<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <div class="main-header">
        <img class="fox-logo" src="../images/fox-logo.png" alt="fox-logo">
        <ul class="nav-items">
          <li class="nav-item">
            <a href="#" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Feature</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Screenshots</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link drop-link">News</a><div class="arrow-down"></div>
              <ul class="drop-items">
                <li class="drop-item">
                  <a href="#" class="link">Recent News</a>
                </li>
                <li class="drop-item">
                  <a href="#" class="link">News One</a>
                </li>
                <li class="drop-item">
                  <a href="#" class="link">News Two</a>
                </li>
                <li class="drop-item">
                  <a href="#" class="link">News Three</a>
                </li>
                <li class="drop-item">
                  <a href="#" class="link">Single News</a>
                </li>
              </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Team</a>
          </li>
        </ul>
      </div>
    </header>
    <!-- phần 3 cục -->
    <div class="clump">
      <div class="area">
        <div class="sub-area">
          <i class="fas fa-magic fa-3x icon"></i>
        </div>
        <h class="title"> 
          Creative Design
        </h>
        <p class="note">
          Proactively syndicate open-source e-markets after low-risk high-yield synergy
        </p>
      </div>
      <div class="area">
        <div class="sub-area">
          <i class="fas fa-rocket fa-3x icon"></i>
        </div>
        <h class="title">
          Free support
        </h>
        <p class="note">
          Proactively syndicate open-source e-markets after low-risk high-yield synergy.
        </p>
      </div>
      <div class="area">
        <div class="sub-area">
          <i class="fas fa-gem fa-3x icon"></i>
        </div>
        <h class="title">
          Exclusive Design
        </h>
        <p class="note">
          Proactively syndicate open-source e-markets after low-risk high-yield synergy.
        </p>
      </div>
    </div>
<!-- phần phone -->
    <div class="container">
      <div class="phone">
        <img class="" src="../images/mobile-2.png">
      </div>
      <div class="explain">
        <div class="theme">
          <h4 class="">
            Make Business Easy With Us
          </h4>
          <p class="">
            Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coliincidit labore lorem
          </p>
        </div>
        <div class="theme-child">
          <div class="children">
            <i class="fas fa-rocket fa-2x icon"></i>
            <p class="">
              Intrinsically aggregate cutting-edge internal or "organic" sources through pandemic.
            </p>
          </div>
          <div class="children">
            <i class="fas fa-rocket fa-2x icon"></i>
            <p class="">
              It doesn't matter if you are in an office or on an airplane. You will never lose a second.
            </p>
          </div>
        </div>
        <div class="space">
          <div class="children">
            <i class="fas fa-rocket fa-2x icon"></i>
            <p class="">
              Intrinsically aggregate cutting-edge internal or "organic" sources through pandemic.
            </p>
          </div>
          <div class="children">
            <i class="fas fa-rocket fa-2x icon"></i>
            <p class="">
              It doesn't matter if you are in an office or on an airplane. You will never lose a second.
            </p>
          </div>
        </div>
        </div>
      </div>
    </div>  
  </body>
</html>
