<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <div>
        <img class="fox-logo" src="img/fox-logo.png" alt="fox-logo">
        <ul class="nav-items">
          <li class="nav-item">
            <a href="#" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Feature</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Screenshots</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link drop-link">News</a><div class="arrow-down"></div>
              <ul class="drop-items">
                <li class="drop-item">
                  <a href="#" class="link">Recent News</a>
                </li>
                <li class="drop-item">
                  <a href="#" class="link">News One</a>
                </li>
                <li class="drop-item">
                  <a href="#" class="link">News Two</a>
                </li>
                <li class="drop-item">
                  <a href="#" class="link">News Three</a>
                </li>
                <li class="drop-item">
                  <a href="#" class="link">Single News</a>
                </li>
              </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Team</a>
          </li>
        </ul>
      </div>
    </header>  
  </body>
</html>
